@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);
/* CAKE TO BOOTSTRAP!
*****************************************/
/** Tables **/
/* line 2, scss/theme/_cake-to-bootstrap.scss */
th a.asc:after {
  content: ' ⇣';
}

/* line 5, scss/theme/_cake-to-bootstrap.scss */
th a.desc:after {
  content: ' ⇡';
}

/** Notices and Errors **/
/* line 10, scss/theme/_cake-to-bootstrap.scss */
.message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

/* line 25, scss/theme/_cake-to-bootstrap.scss */
.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -ms-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#e6b800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -o-linear-gradient(top, #ffcc00, #e6b800);
  background-image: linear-gradient(top, #ffcc00, #e6b800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* line 51, scss/theme/_cake-to-bootstrap.scss */
.success,
.message,
.cake-error,
p.error,
.error-message {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 65, scss/theme/_cake-to-bootstrap.scss */
.success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76bf6b), to(#3b8230));
  background-image: -webkit-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -moz-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -ms-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -o-linear-gradient(top, #76bf6b, #3b8230);
  background-image: linear-gradient(top, #76bf6b, #3b8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 79, scss/theme/_cake-to-bootstrap.scss */
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}

/* line 85, scss/theme/_cake-to-bootstrap.scss */
p.error em {
  font-weight: normal;
  line-height: 140%;
}

/* line 89, scss/theme/_cake-to-bootstrap.scss */
.notice {
  color: #000;
  display: block;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}

/* line 96, scss/theme/_cake-to-bootstrap.scss */
.success {
  color: #fff;
}

/* BAES OF FRAMEWORK!
*****************************************/
/* IMPORT FONTS
*****************************************/
/* BASE FONT
*****************************************/
/* SIZES
*****************************************/
/* SPACERS
*****************************************/
/* IMAGE SIZES
*****************************************/
/**
 *	for the syntax look at:
 *	http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
 *	
 *	BEM syntax:
 *	
 *	.block{}
 *	.block__element{}
 * 	.block--modifier{}
 *
 *	.person{}
 *	.person__hand{}
 *	.person--female{}
 *	.person--female__hand{}
 *	.person__hand--left{}
 *
 *	to see what is BEM ( Blocks, Elements, Modifiers ) check:
 *	http://bem.info/method/definitions/
 */
/* COMPASS
*****************************************/
/* GENERATED SIZES
*****************************************/
/* MIXINS
*****************************************/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Media query mixin. Based on bootstrap media queries!!!
 *
 * large-desktop
 * tablet
 * phone-to-tablet
 * phone
 *
 * Not using a media query will, naturally, serve styles to all devices
 *
 * `@include media-query(phone){ [styles here] }`
 *
 */
/* HTML PAGE BASE
*****************************************/
/* line 351, scss/theme/_framework.scss */
html, body {
  font: 0.875em/1.28571 "Oxygen", sans-serif;
  min-height: 100%;
  font-weight: 200;
}

/* HEADINGS
*****************************************/
/* line 359, scss/theme/_framework.scss */
h1, .alpha {
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 1.5;
}

/* line 362, scss/theme/_framework.scss */
h2, .beta {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 1.8;
}

/* line 365, scss/theme/_framework.scss */
h3, .gamma {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.125;
}

/* line 368, scss/theme/_framework.scss */
h4, .delta {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.28571;
}

/* line 371, scss/theme/_framework.scss */
h5, .epsilon {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 1.5;
}

/* line 374, scss/theme/_framework.scss */
h6, .zeta {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 1.5;
}

/* FAT SIZES
*****************************************/
/* line 380, scss/theme/_framework.scss */
.giga {
  font-size: 96px;
  font-size: 6.85714rem;
  line-height: 1.125;
}

/* line 383, scss/theme/_framework.scss */
.mega {
  font-size: 72px;
  font-size: 5.14286rem;
  line-height: 1;
}

/* line 386, scss/theme/_framework.scss */
.kilo {
  font-size: 48px;
  font-size: 3.42857rem;
  line-height: 1.125;
}

/* SMALL SIZES
*****************************************/
/* line 393, scss/theme/_framework.scss */
.smallprint,
.milli {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 1.5;
}

/* line 396, scss/theme/_framework.scss */
.micro {
  font-size: 10px;
  font-size: 0.71429rem;
  line-height: 1.8;
}

/* HELPERS
*****************************************/
/* line 402, scss/theme/_framework.scss */
.display--none {
  display: none;
}

/* line 403, scss/theme/_framework.scss */
.display--block {
  display: block;
}

/* line 404, scss/theme/_framework.scss */
.display--inline {
  display: inline;
}

/* line 405, scss/theme/_framework.scss */
.display--table-cell {
  display: table-cell;
}

/* line 407, scss/theme/_framework.scss */
.float--right {
  float: right!important;
}

/* line 408, scss/theme/_framework.scss */
.float--left {
  float: left !important;
}

/* line 409, scss/theme/_framework.scss */
.float--none {
  float: none !important;
}

/* line 411, scss/theme/_framework.scss */
.clear--both {
  clear: both!important;
}

/* line 412, scss/theme/_framework.scss */
.clear--right {
  clear: right!important;
}

/* line 413, scss/theme/_framework.scss */
.clear--left {
  clear: left!important;
}

/* line 414, scss/theme/_framework.scss */
.clear--none {
  clear: none!important;
}

/* line 416, scss/theme/_framework.scss */
.text--left {
  text-align: left  !important;
}

/* line 417, scss/theme/_framework.scss */
.text--center {
  text-align: center!important;
}

/* line 418, scss/theme/_framework.scss */
.text--right {
  text-align: right !important;
}

/* line 420, scss/theme/_framework.scss */
.weight--light {
  font-weight: 300!important;
}

/* line 421, scss/theme/_framework.scss */
.weight--normal {
  font-weight: 400!important;
}

/* line 422, scss/theme/_framework.scss */
.weight--semibold {
  font-weight: 600!important;
}

/* line 424, scss/theme/_framework.scss */
.position--relative {
  position: relative;
}

/* line 425, scss/theme/_framework.scss */
.position--absolute {
  position: absolute;
}

/* line 426, scss/theme/_framework.scss */
.position--inherit {
  position: inherit;
}

/* line 428, scss/theme/_framework.scss */
.caps {
  text-transform: uppercase!important;
}

/* THEME
*****************************************/
/**
 *	for the syntax look at:
 *	http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
 *	
 *	BEM syntax:
 *	
 *	.block{}
 *	.block__element{}
 * 	.block--modifier{}
 *
 *	.person{}
 *	.person__hand{}
 *	.person--female{}
 *	.person--female__hand{}
 *	.person__hand--left{}
 *
 *	to see what is BEM ( Blocks, Elements, Modifiers ) check:
 *	http://bem.info/method/definitions/
 */
/* HTML STUFF
*****************************************/
/* line 25, scss/theme/_main.scss */
html {
  background: none;
}

/* line 26, scss/theme/_main.scss */
html, body {
  padding: 0;
  margin: 0;
  color: black;
}

/* line 27, scss/theme/_main.scss */
a, a:hover {
  color: black;
}

/* line 70, scss/theme/_framework.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-transform: uppercase!important;
}

/* line 34, scss/theme/_main.scss */
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}

/* HEADER
*****************************************/
